<h2>
  You searched for <strong><%= session[:query] %></strong>!
</h2>

<section class="row small-6 large-6">
  <p class="column">
    <%= link_to "Search again", search_path, class: "success button" %>
  </p>
</section>

<main class="row small-up-2 medium-up-3 large-up-4">
  <% @recipes.each do |recipe| %>
    <p class="column">
      <%= image_tag(recipe.image, class: "thumbnail") %>
      <%= link_to recipe.name, recipe_path(recipe.uri) %>
    </p>

  <% end %>
</main>
